* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  padding: 48px 64px;
  background: #F2F2F7;
  & .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & p {
      font-weight: 400;
    }
    & .title {
      font-size: 57px;
      line-height: 64px;
      letter-spacing: -0.25px;
    }
    & .developer {
      font-size: 28px;
      line-height: 36px;
    }
  }
  & button {
    margin: 0 20px 20px 0;
  }
  & .columnHeader {
    display: flex;
    justify-content: space-between;
  }
  & .basket {
    margin-left: 8px;
    color: red;
  }
  & .downOutlined {
    margin-left: 8px;
  }
  & .cell {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & span.cellValue {
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  & .tableCont {
    font-family: PT Root UI, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
  & .modal {
    & pre {
      overflow: hidden;
    }
  }
}
